<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#">

        <title>Functions</title>
    </head>
    <body>
        <h1>Node js</h1>
        <p><%= result %></p>
        <h1>Calculo</h1>
        <p><%= result2 %></p>
        <h1>Random Number</h1>
        <p><%= result3 %></p>
    </body>
</html>